@use '../abstracts/variables' as *;

.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 40px;

  &__btn {
    cursor: pointer;
  }
}
