@use '../abstracts/variables' as *;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-main;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text-primary);
  background-color: var(--color-bg-body);
  transition: background-color $transition-default, color $transition-default;
  overflow-x: hidden;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

section[id] {
  scroll-margin-top: 40px;
}

:focus:not(:focus-visible) {
  outline: none;
}

:focus-visible {
  outline: 2px solid var(--color-text-accent);
  outline-offset: 4px;
}
